.corpo{
  display: flex;
  flex-direction: column;
  padding: 20px;
  color: #000;
  background-color: #e4e4e4;
  width: 100%;
  height: 100vh;
}

#container-results{

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-top: 20px;
}

#Request{
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: auto;
}
#right{ 
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 4% 8% 8% 0%;
  color: #fff;
  background-color: #e4e4e4;
  border: #000 solid 6px;
  min-width: 900px;
  height: 60vh;
  overflow: hidden;
}
.results{
  margin: 8%;
}

.btn-enviar{
  margin-top: 30px;
  width: 120px;
  height: 50px;
  border: none;
  border-radius: 8px;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
}

.btn-enviar:hover{
  background-color: #3e8e41;
}
.insert{
  background-color: #676767;
}
#results-box{
  background-color: #ffffff;
  padding: 20px;
  border-radius: 20px;
  border: 2px solid #000;
  min-width: 250px;
}

#results-box h2{
  margin-bottom: 10px;
}

#results-box p{
  margin: 5px 0;
}

/* Responsividade */
@media (max-width: 768px) {
  #container-results {
    flex-direction: column;
  }


}